@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
/*Colors Primary*/
/*Colors Neutral*/
/*Variable para Media Query*/
/*Centrar un elemento en fila*/
/*Centrar un elemento en columna*/
/*Mixin para crear el circulo*/
/*Escalando las imagenes para que sean mas pequeñas*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100vh;
  background-color: #1f3756;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f3756), to(#141539));
  background-image: linear-gradient(90deg, #1f3756 0%, #141539 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Mostrar las reglas*/
.rules {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.rules .box-rules {
  padding: 5rem 3rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*toggle añadido en js para slide de las reglas */
.rules.toggle-rules {
  left: 0;
}

.who-picked {
  width: 23.5em;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2em;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

/*Section score top*/
.scoreboard-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  min-width: 350px;
  border: 3px solid #606e85;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.scoreboard-top img {
  width: 6rem;
}

.scoreboard-top .box-score {
  width: 7rem;
  height: 6.1rem;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  color: #2a46c0;
  text-align: center;
  border-radius: 1rem;
}

.scoreboard-top .box-score #user-score, .scoreboard-top .box-score #computer-score {
  font-size: 4rem;
  color: #3b4363;
  line-height: 3rem;
}

/*Contenedor de las posibles eleccion*/
.choice {
  margin-top: 3rem;
  background: url("/dist/images/bg-pentagon.svg") no-repeat;
  background-size: 300px;
  background-position: center;
  width: 25rem;
  height: 22rem;
  position: relative;
  /*Accediendo a la imagen para hacerla mas pequeña*/
  /*Diseño de los objetos circulares del juego*/
  /*@Mixin color-cicle($top, $left, $color) */
}

.choice div img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.choice .spock {
  position: absolute;
  top: 5em;
  left: 1rem;
  border-radius: 10rem;
  background: white;
  width: 6.2em;
  height: 6.2em;
  border: 10px solid #40b9ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(64, 185, 206, 0.5);
          box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(64, 185, 206, 0.5);
  cursor: pointer;
  -webkit-transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s, -webkit-box-shadow .2s, -webkit-transform 1s;
  z-index: 1;
}

.choice .spock:hover {
  -webkit-box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(64, 185, 206, 0.5);
          box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(64, 185, 206, 0.5);
}

.choice .scissors {
  position: absolute;
  top: -1rem;
  left: 9em;
  border-radius: 10rem;
  background: white;
  width: 6.2em;
  height: 6.2em;
  border: 10px solid #ec9e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(236, 158, 14, 0.5);
          box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(236, 158, 14, 0.5);
  cursor: pointer;
  -webkit-transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s, -webkit-box-shadow .2s, -webkit-transform 1s;
  z-index: 1;
}

.choice .scissors:hover {
  -webkit-box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(236, 158, 14, 0.5);
          box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(236, 158, 14, 0.5);
}

.choice .paper {
  position: absolute;
  top: 5em;
  left: 17em;
  border-radius: 10rem;
  background: white;
  width: 6.2em;
  height: 6.2em;
  border: 10px solid #4865f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(72, 101, 244, 0.5);
          box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(72, 101, 244, 0.5);
  cursor: pointer;
  -webkit-transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s, -webkit-box-shadow .2s, -webkit-transform 1s;
  z-index: 1;
}

.choice .paper:hover {
  -webkit-box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(72, 101, 244, 0.5);
          box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(72, 101, 244, 0.5);
}

.choice .rock {
  position: absolute;
  top: 15em;
  left: 14em;
  border-radius: 10rem;
  background: white;
  width: 6.2em;
  height: 6.2em;
  border: 10px solid #dc2e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(220, 46, 78, 0.5);
          box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(220, 46, 78, 0.5);
  cursor: pointer;
  -webkit-transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s, -webkit-box-shadow .2s, -webkit-transform 1s;
  z-index: 1;
}

.choice .rock:hover {
  -webkit-box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(220, 46, 78, 0.5);
          box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(220, 46, 78, 0.5);
}

.choice .lizard {
  position: absolute;
  top: 15em;
  left: 4em;
  border-radius: 10rem;
  background: white;
  width: 6.2em;
  height: 6.2em;
  border: 10px solid #834fe3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(131, 79, 227, 0.5);
          box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(131, 79, 227, 0.5);
  cursor: pointer;
  -webkit-transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: top .5s ease-in-out, left .5s, -webkit-box-shadow .2s, -webkit-transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s;
  transition: box-shadow .2s, top .5s ease-in-out, left .5s, transform 1s, -webkit-box-shadow .2s, -webkit-transform 1s;
  z-index: 1;
}

.choice .lizard:hover {
  -webkit-box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(131, 79, 227, 0.5);
          box-shadow: inset 0 0 0px 6px rgba(0, 0, 0, 0.5), 0 5px 0 0 rgba(131, 79, 227, 0.5);
}

.choice .toggle {
  top: 8rem;
  left: -10rem;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

/*Estilos para el boton de las reglas*/
.btn {
  position: absolute;
  right: 5em;
  bottom: 2em;
  width: 8em;
  height: 3em;
  border-radius: 1em;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 99;
}

.btn:hover {
  background: white;
  color: #2a46c0;
}
/*# sourceMappingURL=main.css.map */