@import 'config';
html{
    width: 100vw;
    height: 100vh;
}
/*-----------BODY-------------*/
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 100vh;
    background-color: #1f3756;
    background-image: linear-gradient(90deg, #1f3756 0%, #141539 100%);
    @include column-center;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

/*-----------------RULES--------------------*/
.rules{
    position: absolute;
    left: -110%;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 99;
    @include row-center();
    transition: all .6s ease-in-out;
    
    .box-rules{
        color: $Dark-Text;
        position: relative;
        min-width: 23em;
        height: 29em;
        background: $white;
        @include column-center();
        align-items: space-around;
        border-radius: .5em;
        padding: 1.5em;
        font-weight: 700;
        
        .title-rules{
            padding-bottom: .5em;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 2em;
            color: $Dark-Text;
            img{
                width: 25px;
                height: 25px;
                padding: 5px;
                border-radius: 50%;
                border: 2px solid rgba($color: #000000, $alpha: 0.2);
                cursor:pointer;
            }
        }
    
    }
    

}
/*clase toggle-rules añadido en js para slide de las reglas */
.rules.toggle-rules{
    left: 0;
}
//------MediaQuery de la reglas
@media(max-width:500px){
    .rules{
        background: white;
        .box-rules{
            .img-rules{
                padding: 4em 0;
            }
            
            .title-rules{
                justify-content: center;
                img{
                    position: absolute;
                    bottom: -10%;
                }
            }
        }
        
    }
}



/*-----------------SCOREBOARD TOP--------------------*/
.scoreboard-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35em;
    border: 3px solid $Header-Outline;
    padding: .9rem .9rem;
    border-radius: 1rem;
   
    img{
        width: 6rem;
    }
    .box-score{
        width: 7.3rem;
        height: 6.3rem;
        
        @include column-center();
        background: $white;
        color: $Score-Text;
        text-align: center;
        border-radius: .5rem;
        font-weight: 700;
        font-size: .8em;
        
        #user-score, #computer-score{
            font-size: 3rem;
            color: $Dark-Text;
           
        }
    }

}
/*MediaQuery del marcador que esta en la parte superior*/
@media (max-width: 600px){
    .scoreboard-top{
        width: 92%;
        img{
            width: 4em;
        }
        .box-score{
            width: 6.2rem;
            height: 5.8rem;
            h3{
                font-size: 1em;
            }
        }
    }
}


/*-----------------CHOICE--------------------*/
/*Contenedor de las posibles eleccion */
.choice{    
    position: relative;
    width: 22rem;
    height: 22rem;
    transition: all 1s;
    /*Accediendo a la imagen del titulo para hacerla mas pequeña*/
    button{
        img{
            transform: scale(.7);
        }
    }
    &__container{
        background: url('../images/bg-pentagon.svg') no-repeat;
        background-size: 300px;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    
    /*Diseño de los objetos circulares del juego*/
    /*@Mixin color-cicle($top, $left, $color) */
    .spock{
        @include color-circle(6em, -.5rem, $Spock-Gradient)
    }
    .scissor{
        @include color-circle(-.5rem, 9.5em, $Scissors-Gradient)
    }
    .paper{
        @include color-circle(6em, 19em, $Paper-Gradient)
    }   
    .rock{
        @include color-circle(18em, 16em, $Rock-Gradient)
    }
    .lizard{
        @include color-circle(18em, 3em, $Lizard-Gradient)
    }
    .clone{
        top: 40%;
        left: 3%;
        transform: scale(2.3);
        transition: .5s;
        animation-name: down; //animation down
        animation-duration: .8s;
        animation-iteration-count: 3;
    }

    //Shadow (Pequeña sombra que se crea)
    .shadow{
        position: absolute;
        top: 32%;
        left: 72%;
        width: 11em;
        height: 11em;
        border-radius: 50%;
        background: rgba($color: #000000, $alpha: 0.4);
        animation-name: down; //animation down
        animation-duration: .8s;
        animation-iteration-count: 3;
        
    }   

    //Estilos para posicionar el boton ya que la sombra a sido remplazada
    .shadow-replace{
        position: absolute;
        top: 40%;
        left: 84%;
        transform: scale(2.3);
    }
    
    //animation down
    @keyframes down{
        50%{
            transform: translateY(80px);
        }
    }

    //Mixin que crea la aurora del ganador --minxin sombra($top, $left)-- (con animacion ya incluida)
    .sombra1.aurora-you-winner{
        @include sombra(21%,-65%);
        .sombra2{
            @include sombra(0%, 0%);
            .sombra3{
                @include sombra(0%, 0%);   
            }
        }
    }
    //Mixin que crea la aurora del ganador --minxin sombra($top, $left)-- (con animacion ya incluida)
    .sombra1.aurora-house-winner{
        @include sombra(21%,97%);
        .sombra2{
            @include sombra(0%, 0%);
            .sombra3{
                @include sombra(0%, 0%);
                
            }
        }
    }
    @keyframes sombras{
        100%{
            transform: scale(1.27);
        }
    }
    //Animaciones y estilos de "You Piked" y "The house Picked"
    .you-picked{
        @include top-button();
        top: 0%;
        left: -2%;
        transition: all .5s;

    }
    .the-house-picked{
        @include top-button();
        top: 0%;
        left: 68%;
        transition: all .5s;
    }
    //Animacion para hacer que los circulos se ábran
    @media (min-width: 800px) {
        .translate-circle-left{ 
            left: -45% ;
        }
        .translate-circle-right{
            left: 117%;
        }
        .slide-left{ 
            left: -50% ;
        }
        .slide-right{
            left: 100%;
        }
    }
}

/*----------MediaQuery para todo el contenido de choice*/
@media(max-width: 800px){
    @each $var in "rock","paper","scissor", "lizard", "spock" {
        .#{$var}{
            transform: scale(.8);
        }
    }
    .choice{
        .clone{
            top: 5%;
            left: 12%;
            transform: scale(1.3);
            
        }
        .shadow{
            position: absolute;
            top: 6%;
            left: 60%;
            width: 6em;
            height: 6em;
            
        }
        .shadow-replace{
            top: 5%;
            left: 58%;
            transform: scale(1.3);
            }
        @keyframes down{
            50%{
                transform: translateY(-40px);
            }
        }
       
        .you-picked{
            left: 16%;
            top: 46%;
            font-size: 1em;

        }
        .the-house-picked{
            width: 8em;
            left: 56%;
            top: 45%;
            font-size: 1em; 
        }
        .sombra1.aurora-house-winner{
            @include sombra(0%,5%);
        }
        .sombra1.aurora-house-winner{
            @include sombra(0%,52.5%);
        }
    }
}

//--------------OTROS----------------//
//Mostrar You Win or You Lose
.who-win{
    font-size: 2.6em;
    font-weight: 700;
    position: absolute;
    bottom: 45%;
    color: $white;
    transition: all .6s ease-in;
}

//Button Play Again
.play-again{
    display: none;
    position: absolute;  
    bottom: 35%;
    width: 15em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:  15px;
    font-weight: 600;
    height: 3em;
    border-radius: .5em;
    border: 2px solid $white;
    color: $Score-Text;
    cursor: pointer;
    outline: none;
    z-index: 9;
    &:hover{
        background: transparent;
        color: $white;
    }
 
}    



@media(max-width:900px){
    .who-win{
        bottom: 30%;

    }
    .play-again{
        bottom: 23%;
        
    }
}

/*-----------------BUTTON RULES--------------------*/
/*Estilos para el boton de las reglas*/
.btn{
    align-self: flex-end;
    margin-right: 2em;
    width: 8em;
    height: 2.4em;
    border-radius: .5em;
    border:1px solid $white;
    color: white;
    @include row-center();
    cursor: pointer;
    z-index: 8;
    &:hover{
        background: white;
        color: $Score-Text;
    }
    
}

@media (max-width: 500px){
    .btn{
       align-self: center;
       margin: 0;
    }
}